<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mongoose Store</title>
</head>

<body>
    <nav>
        <a href="/products/new"><button> Add A New Product</button></a>
    </nav>

    <h1>Mongoose Store</h1>

    <h3>Products</h3>

    <ul>
        <% product.forEach(product=> {%>
            <a href="/products/<%=product._id;%>">
                <img src="<%=product.img;%> ">
                <a href="/products/<%=product._id %>/edit"><button> Edit</button></a>
            </a>
            <h4>
                <%= product.name;%>
            </h4>

            <p>Price: <%= product.price;%>
            </p>

            <%}) %>

    </ul>
</body>

</html>