<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%= product.name %>
    </title>
</head>

<body>
    <nav>
        <a href="/products">Back To Product Page</a>
    </nav>

    <h1>
        <%= product.name %>
    </h1>

    name:<%= product.description %>
        <img src="<%= product.img %> " alt='' />

        <p>
            <%= product.description %>
        </p>

        <h3>Price: <%= product.price %> </h3>
        <!-----------Condition--------->
        <% if(product.qty <=0) { %>
            <h2>Out of stock!</h2>

            <% }else { %>
                <h4>
                    <%= product.qty%> left in stock
                </h4>
                <button type="button">BUY</button>
                <% } %>
                    <a href="/products"><button> BUY</button></a>
                    <form>
                        <input type="submit" value="Delete" />
                    </form>
</body>

</html>